
header{
	background-color: #ddd;
	color: #0a0;
	padding: 1% 5%;
}

.messages{
	margin: 2% 0;
}


.formWrapper{
	margin: 0% auto;
	width: 60%;

}

#submitRequest{
	float: right;
}
@media only screen and (max-width: 768px) {
	h1{
		text-align: center !important;
	}

	.formWrapper{
		width: 95%;
		margin: 20% auto;
	}
}
